/* Userstyle for Dark Scroll Bar on Everything. Created by: 2E0PGS */
/* Based on: https://userstyles.org/styles/37035/github-dark */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo /*
/* Version 1.0 22/03/2017 23:13*/

::-webkit-scrollbar {
	max-width: 10px !important;
	max-height: 10px !important;
	background: #1d1d1d !important;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
	/*background: #1d1d1d !important;*/
}
::-webkit-scrollbar-thumb {
	background: rgba(175, 175, 175, .5) !important;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(65, 131, 196, .8) !important;
}