@-moz-document domain("fossbytes.com") {
/* Userstyle for Fossbytes.com. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo /*
/* Version 1.0 23/02/2017 00:28*/

body {
	background-color: #2d2d2d;
}

body, p {
	color: #000000;
}

/* ---Post Text---*/
.post {
	color: rgb(94, 174, 224);
}

/* ---NavBar--- */
.td-header-main-menu {
	background-color: #005f97;
}

.white-menu .td-header-main-menu {
	border-bottom: 1px solid #8a8a8a;
}

/* ---Drop Down Menu--- */
.sf-menu ul {
	background: #005f97;
}

/* ---Links--- */
a {
	color: #009cff;
}

/* ---Bio of Link to Article--- */
.td-excerpt, .td-module-excerpt {
	color: #d6d6d6;
}
.sf-menu>li>a, .header-search-wrap .td-icon-search, #td-top-mobile-toggle i {
	color: #101010;
}

/* ---Post Container--- */
.td-container {
	background-color: #005f97;
}

/* ---Borders on Post Container--- */
.td-pb-row [class*="td-pb-span"], .td-pb-border-top, .page-template-page-title-sidebar-php .td-page-content>.wpb_row:first-child, .td-post-sharing, .td-post-content, .td-post-next-prev, .author-box-wrap, .td-comments-title-wrap, .comment-list, .comment-respond, .td-post-template-5 header, .td-container, .wpb_content_element, .wpb_column, .wpb_row, .white-menu .td-header-container .td-header-main-menu, .td-post-template-1 .td-post-content, .td-post-template-4 .td-post-sharing-top, .td-header-style-6 .td-header-header .td-make-full, #disqus_thread, .page-template-page-pagebuilder-title-php .td-page-content>.wpb_row:first-child, .td-footer-container:before {
	border-color: #005f97;
}

.td-container-border:after, .td-next-prev-separator, .td-pb-row .wpb_column:before, .td-container-border:before, .td-main-content:before, .td-main-sidebar:before, .td-pb-row .td-pb-span4:nth-of-type(3):after, .td-pb-row .td-pb-span4:nth-last-of-type(3):after {
	background-color: #005f97;
}

/* ---Meta Info--- */
.meta-info {
	color: #fbfbfb;
}

/* ---Trending News Header--- */
.td-trending-now-display-area a {
	color: #fff;
}
}