@-moz-document domain("meetup.com") {
/* Userstyle for Meetup.com. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo */
/* Version 1.1.5 18/04/2017 16:39 */

/* -----Footer Bar----- */
footer{
	background: #191717 !important;
	color: #ed1c40 !important;
}

/* ---Top bar--- */
.view-head {
	background: #000;
}

/* -----Main Page----- */
html #C_page {
	background: #191717;
}

html {
	color: rgb(237, 28, 64);
	background: #191717;
}

#simple-find-order .simple-order-copy {
	color: rgb(237, 28, 64);
}

.text--label, .text--labelSecondary {
	color: rgb(237, 28, 64);
}

h1, h2, h3, h4, h5, h6, .v4-empty-state h2, .v4-empty-state p {
	color: #ff143d;
}

/* ---Links--- */
.tabControl-tab--selected .tabControl-link, a, a:active, a:hover, a:link, a:visited {
	color: #5257ff;
}

.tabControl-link, .tabControl-link:link, .tabControl-link:visited {
	color: #5648ff;
}

/* ---Input Buttons--- */
.button, .button:active, .button:hover, .button:link, .button:visited, button, button:active, button:hover, button:link, button:visited, input[type=submit], input[type=submit]:active, input[type=submit]:hover, input[type=submit]:link, input[type=submit]:visited {
	color: rgba(255, 255, 255, 0.87);
}

/* -----Search Box----- */
#findNavBar input.dropdown-toggle, #simple-find-order input.dropdown-toggle {
	border: 1px solid #ed1c40;
	color: #ed1c40;
	background-color: #191717;
}

.dropdown .dropdown-menu {
	background-color: #191717;
}

#findNavBar .dropdown-menu li a, #simple-find-order .dropdown-menu li a {
	color: #ed1c40;
}

/* -----Nav Bar----- */
#globalNav {
	background-color: #191717;
	color: #ed1c40;
}

#globalNav #C_langs {
	background-color: #191717;
	color: #ed1c40;
	border-color: #ed1c40;
}

#mainNav, #mainNav .mainNav-item-anchor, #mainNav .mainNav-item-label, #mainNav .mainNav-item--findStart a {
	color: rgb(237, 28, 64);
}

.nav-buttons label, .nav-buttons li>a, .nav-buttons li>span, .segmented-control-button {
	color: rgb(255, 0, 0);
}

.chapter-menu .dropdown-menu a:active, .chapter-menu .dropdown-menu a:focus, .chapter-menu .dropdown-menu li.selected a, .chapter-menu .dropdown-menu li.selected:hover a, .chapter-menu .dropdown-menu li:hover a {
	background: #ed1c40!important;
}

/* -----Nav Bar SVG Icons----- */
.headerTab-iconWrap .svg, .headerTab-iconWrap .svg svg, .headerTab-iconWrap #headerAvatar, .headerTab-iconWrap #headerAvatar svg, .headerTab-label .svg, .headerTab-label .svg svg, .headerTab-label #headerAvatar, .headerTab-label #headerAvatar svg {
	fill: rgb(237, 28, 64) !important;
}

/* -----Drop down menu on avatar----- */
.dropdown .dropdown-menu li a {
	color: rgb(237, 28, 64);
	background-color: #191717;
}

#C_groupsMenu {
	background-color: #191717;
}

#C_groupsMenu li a {
	color: #ed1c40;
}

#nav-account-links li {
	color: rgb(237, 28, 64);
}

.j-see-more-groups-button.small.button.button--small.margin--bottom {
	background-color: #191717;
	color: #ed1c40;
}

/* -----Profile----- */
.text--display1, .text--display2, .text--display3 {
	color: #ed1c40;
}

.icon-m {
	color: rgba(255, 13, 13, 0.58);
}

/* ---Interests--- */
.account-topics-item {
	background: #1d1d1d;
}

#account-topics-unsubscribed-list .account-topics-item {
	background: #1d1d1d;
}

.add_icon {
	background-color: #484444;
}

#account-topics-unsubscribed {
	background: #151515;
}

/* -----Meetup Filter Nav Bar----- */
.nav-buttons li.selected>a, .nav-buttons li.selected>span, .nav-buttons li:first-child>a.selected, .nav-buttons li:first-child>span.selected, .nav-buttons li>a.selected, .nav-buttons li>span.selected {
	color: red !important;
	background-color: rgba(0, 0, 0, 0.05)!important;
}

#simple-event-filter .selected:before {
	background: #ed1c40;
}

#simple-event-filter li span {
	background: #151515;
	color: #ed1c40;
}
#simple-event-filter li span:hover {
	background: #ed1c40;
	color: white;
}

/* -----Meetup list----- */
#docked-event-date, .date-indicator {
	color: rgb(237, 28, 64);
}

/* -----Meetup Event Listing Containers----- */
.event-listing-container {
	background-color: rgb(21, 21, 21);
	color: #af0e0e;
}

.text--label, .text--labelSecondary {
	color: rgb(210, 132, 11);
}

.text--secondary {
	color: lightBlue;
}

/* -----Meetup list Docked Date----- */
#docked-event-date {
	background-color: rgb(21, 21, 21);
	color: #ed1c40 !important;
}

/* -----Export Meetup List Button----- */
.dropdown-toggle {
	color: #ed1c40 !important;
}

/* ---Notifications--- */
#nav-notifications .notifLabel {
	color: rgb(237, 28, 64);
}

#nav-notifications .notifItem {
	border-top: 1px solid rgb(237, 28, 64);
}

#nav-notifications .notifItem a:hover {
	background-color: #ed1c40;
	color: rgb(255, 255, 255) !important;
}

.muted {
	color: rgb(128, 199, 230);
}

/* ---New Landing Page--- */
.stripe, .stripe--collection, .stripe--hero, .stripe--inverted, .stripe--photoHero, .stripe--rounded, .view {
	color: rgb(237, 28, 64);
	background: #191717;
}

#homeActivities .button--activity {
	color: rgb(237, 28, 64) !important;
	background: rgba(243, 243, 243, 0.08);
}

.hscrollGradientWrap:before, .hscrollGradientWrap:after {
	background-image: linear-gradient(to right,#191717,rgb(25, 23, 23));
}

/* ---Calandar--- */
#simple-date-selector .ui-datepicker table tbody td a.ui-state-active, #simple-date-selector .ui-datepicker table tbody td a:active {
	color: #ed1c40!important;
	background: rgba(0, 0, 0, 0.07)!important;
}

#simple-date-selector .ui-datepicker table tbody td a:hover {
	color: #af0d04;
}

#simple-date-selector .ui-datepicker table tbody td a, #simple-date-selector .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
	color: #b7b7b7;
}

#simple-date-selector .ui-datepicker table tbody td, #simple-date-selector .ui-datepicker table tbody tr {
	border-left: 1px solid #ed1c40;
	border-bottom: 1px solid #ed1c40;
	border-right: 1px solid #ed1c40;
	color: #b7b5b5;
}

#simple-date-selector .ui-datepicker table thead th {
	border-left: 1px solid #ed1c40;
	border-right: 1px solid #ed1c40;
}

#simple-date-selector .ui-datepicker .ui-datepicker-header .ui-datepicker-next, #simple-date-selector .ui-datepicker .ui-datepicker-header .ui-datepicker-prev, #simple-date-selector .ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover, #simple-date-selector .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover {
	border-left: 1px solid #151313;
}

#simple-date-selector .ui-datepicker {
	background-color: #151515;
}

#simple-date-selector .ui-datepicker table thead th:first-child {
	border-left: 1px solid #ed1c40;
}

#simple-date-selector .ui-datepicker table thead {
	border-bottom: 1px solid rgb(237, 28, 64);
}

.nav-buttons.vertical label:last-of-type, .nav-buttons.vertical li:last-child>a, .nav-buttons.vertical li:last-child>span, .nav-buttons.vertical label, .nav-buttons.vertical li>a, .nav-buttons.vertical li>span {
	box-shadow: rgba(0, 0, 0, 0) 1px 1px 0 0 inset,rgba(0, 0, 0, 0) 0 -1px 0 0 inset;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #ed1c40;
}

#simple-date-selector .ui-datepicker .ui-datepicker-buttonpane button {
	background-color: #151515;
	color: #fff;
}

/* ---Nav bar containging search and filter buttons--- */
#C_pagePreBody .find-navbar {
	background-color: #151515;
	color: #ed1c40;
}

/* --- Calandar or Group Filter Button--- */
#simple-view-selector .selected .simple-view-selector-anc {
	background: rgb(237, 28, 64)!important;
	color: #fff!important;
	box-shadow: inset -1px 1px 2px 0 rgba(0, 0, 0, 0);
}

#simple-view-selector .simple-view-selector-anc {
	color: rgb(237, 28, 64)!important;
}

#simple-view-selector {
	border: 1px solid rgb(237, 28, 64);
}

/* ---No Meetups Matching Dialog--- */
.actionMenu-actions, .doc-box, .docBox, .mt-two-btn-cta {
	background-color: #151515;
	background: #151515 !important;
}

.mt-two-btn-cta h1,.mt-two-btn-cta h2,	.mt-two-btn-cta h3 {
	color: rgb(237, 28, 64) !important;
}

/* ---Meetup Event Page--- */
.hoverLink, .hoverLink:link, .hoverLink:visited {
	color: rgb(237, 28, 64)!important;
}

.actionMenu-more, .actionMenu-more:active, .actionMenu-more:hover, .actionMenu-more:link, .actionMenu-more:visited, .chunkList-row>a, .chunkList-row>a:active, .chunkList-row>a:hover, .chunkList-row>a:link, .chunkList row>a:visited, .unlink, .unlink:active, .unlink:hover, .unlink:link, .unlink:visited {
	color: rgb(237, 28, 64)!important;
}

.chapter-menu>li>a {
	background: #ed1c40;
	color: rgb(255, 255, 255)!important;
}

.complete {
	color: #ffffff;
	background-color: #151515;
}

.sprite-event-stack {
	background: url(https://i.imgur.com/T0QUEgz.png)
}

#ajax-container .no-member {
	border: 1px solid #191717;
	background-color: #3a3a3a;
}

.event-meta .rsvp-callout-outer, .event-meta .rsvp-callout-outer a, .event-autoscheduleInfo, .popover-inner, .member-discovery {
	background-color: #151515;
}

.rsvp-meta-subtle-link a:hover em, .rsvp-meta-subtle-link a:link em, .rsvp-meta-subtle-link a:visited em, .event-meta .date {
	color: rgb(237, 28, 64);
}

.button--fullWidth, .button.full-width, .button.span-100 {
	background-color: #1f1f1f;
}

.button-flat {
	color: white !important;
}

.comment-wrap .redactor_editor:focus, .comment-wrap textarea:focus {
	background: #1f1f1f;
}

input, select, textarea {
	color: rgba(255, 255, 255, 0.87) !important;
	background-color: #1f1f1f !important;
}

.comments ul.dividedList>li {
	background: #1f1f1f;
}

#rsvp-mine.rsvp-callout-rsvpno {
	background-color: #151515!important;
}

.rsvp-meta-info {
	color: #f1f1f1;
}

#rsvpBoxContainer {
	border-bottom: 0px;
}

.actionMenu-actions>.line-gutters>.unit, .actionMenu-actions>.line>.unit, .doc-box>.line-gutters>.unit, .doc-box>.line>.unit, .docBox>.line-gutters>.unit, .docBox>.line>.unit {
	border-right: 1px solid #656262;
}

/* ---About us popup--- */
.J_anchoredBubbleWrap {
	background-color: #232020
}
}