@-moz-document url-prefix("https://privacytoolsio.github.io/privacytools.io/"), domain("privacytools.io") {
/* Userstyle for Privacytools.io. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo /*
/* Version 1.0.1 21/03/2017 20:16*/

body {
	color: #ffffff;
	background-color: #131313;
}

/* ---Banner--- */
.jumbotron {
	background-color: #232323;
}

/* ---Panels--- */
.panel {
	background-color: #232323;
}

/* ---Table--- */
table[data-sortable].sortable-theme-bootstrap {
	color: #ffffff;
	background: #232323;
}

.btn-default {
	text-shadow: 0 0px 0 #fff;
	background-image: linear-gradient(to bottom,#232323 0,#232323 100%);
	border-color: #525252;
	color: white;
}

.dropdown-menu {
	background-color: #232323;
}

.dropdown-menu>li>a {
	color: #fff;
}
}