@-moz-document url-prefix("chrome-extension://fjnbnpbmkenffdnngjfgmeleoegfcffe/manage.html") {

/* Warning you may need to change the URL this theme appies to for your PC */

body {
    background: grey;
}
}