@-moz-document domain("who.is") {
/* Userstyle for Who.is. Created by: 2E0PGS */
/* Repository: https://bitbucket.org/2E0PGS/userstyles/overview */
/* Licence: GNU v3 */
/* Userstyle URL: todo /*
/* Version 1.0 01/10/2016 05:06*/

body, html {
	color: #0099f1 !important;
	background-color: #262626 !important;
}

.text-muted {
	color: #c0c3c7;
}

/* --- Fix white boxes on index.html --- */
.home-icon-blurbs {
	background-color: #262626;
}

/* ---Footer--- */
.footer {
	background-color: rgb(38, 38, 38);
	border-top: 1px solid #0099f1;
}

/* ---Search Box--- */
.input-lg, .form-control {
	background-color: #262626;
	color: #0099f1 !important;
	border: 1px solid #0099f1;
}

/* ---Advert Removal--- */
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
	display: none;
}

/* ---Results Table---*/
.queryResponseHeader {
	background-color: #262626;
}

.queryResponseBody {
	background-color: #313131;
}

pre {
	color: #0099f1;
	background-color: #262626;
}

.queryResponseContainer {
	border: 1px solid #0099f1;
}

/* ---Registrar Data RAW---*/
.rawWhois {
	color: #0099f1;
	background-color: #313131;
}

/* ---Alert---*/
.alert-info {
	color: #0099f1;
	background-color: #313131;
	border-color: #0099f1;
}

/* --- Other Domains List--- */
.powerBarTldContainer {
	border: 1px solid rgb(0, 153, 241);
	color: #f9f9f9;
	background-color: #313131;
}

/* ---buttons--- */
.btn-default {
	color: #0099f1;
	background-color: #262626;
	border-color: #0099f1;
}

.btn-default:hover {
	color: #ffffff;
	background-color: #337ab7;
	border-color: #0099f1;
}

/* ---Site Status etc--- */
.queryResponseHeaderSide {
	background-color: #262626;
	border: 1px solid #0099f1;
}

.queryResponseBodySide {
	background-color: #313131;
}

.text-success {
	color: #23bb25;
}

/* ---History--- */
.well {
	background-color: #262626;
	border: 1px solid #0099f1;
}

/* --- Features Page--- */
.featuresBarTwo, .featuresBarThree {
	background-color: #262626 !important;
}
}